.about-container{
    display: flex;
    flex-direction: column;
   
}
.card-data{
    margin-top: 10px;
    height: 150px;
    color: black;
    background-color: #d1d1d3;
    box-shadow: 10px 5px 5px #00000070;
    text-align: center;
   
}  
.star-icon{
    text-align: end;
  
}